body {
  margin: 0;
  font-family: var(--p-font-family);
  background-color: var(--p-surface-ground);
  color: var(--p-text-color);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.card {
  background: var(--p-surface-card);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}